* {
	font-family: sans-serif;
}

body {
	background-color: #879c4f;
	background-image: url("bckg-img.jpg");
	background-blend-mode: soft-light;
	background-size: cover;
	background-position: center;
	padding: 0;
	margin: 0;
}

.page, #header, #footer {
	background-color: rgba(256,256,256,0.5);
	box-shadow: 0px 0px 20px #666;
}

div.form-group {
	background-color: rgba(256,256,256,0);
	margin-bottom: 20px;
}

#header {
	width: 90%;
	height: 85px;
	margin: auto;
	margin-bottom: 10px;
}

#header h3 {
	color: darkgreen;
	font-size: 50px;
	margin: 20px;
	font-family: 'Kaushan Script', cursive;
	display: inline;
}

#header h4 {
	font-family: 'Chelsea Market', cursive;
	display: inline;
	font-size: 25px;
	color: ghostwhite;
}

.page {
	padding: 5px;
	height: 77%;
	margin-top: 10px;
}

#sidebar {
	width: 25%;
	min-width: 200px;
	float: left;
	margin-left: 5%;
}

#content {
	float: right;
	width: 60%;
	margin-right: 5%;
	min-width: 350px;
}

#footer {
	height: 25px;
	width: 100%;
	left: 0;
	margin: 0 auto;
	position: absolute;
	bottom: 0;
	text-align: center;
	font-size: 15px;
	padding-top: 7px;
	color: rgba(0,0,0,0.5)
}

#calcButton.btn{
	background-color: #b4c190;
}

.btn {
	padding: 5px;
	width: 100%;
}

input#iteminput{
	width: 40%;
}

textarea#fullList{
	resize: vertical;
	width: 100%;
	height: 300px;
}

#defaultCanvas0{
	visibility: visible;
}

#header img {
	margin-left: 50px;
	margin-top: 6px;
	position: absolute;
}

#header p {
	display: inline;
	margin-left: 195px;
	font-style: italic;
	color: dimgray;
	font-size: 18px;
	font-family: Raleway, sans-serif;
}
