* {
	font-family: 'Source Sans Pro', sans-serif;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently */
}

a {
	text-decoration: none;
}

body {
	background-color: #879c4f;
	background-image: url("bckg-img.jpg");
	background-blend-mode: soft-light;
	background-size: cover;
	background-position: center;
	padding: 0;
	margin: 0;
}

.page, #header, #footer {
	background-color: rgba(256,256,256,0.5);
	box-shadow: 0px 0px 20px #666;
}

div.form-group {
	background-color: rgba(256,256,256,0);
	margin-bottom: 20px;
}

#header {
	width: 90%;
	height: 85px;
	margin: auto;
	margin-bottom: 20px;
}

#header h3 {
	color: darkgreen;
	font-size: 50px;
	margin: 20px;
	font-family: 'Kaushan Script', sans-serif;
	display: inline;
	cursor: pointer;
}

#header h4 {
	font-family: 'Chelsea Market', cursive;
	display: inline;
	font-size: 25px;
	color: ghostwhite;
}

#header p {
	display: inline;
	margin-left: 195px;
	font-style: italic;
	color: dimgray;
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
}

.page {
	height: 77%;
	margin-top: 10px;
	padding: 5px;
	margin-top: 0;
}

#left-sidebar {
	width: 20%;
	min-width: 200px;
	float: left;
	margin-left: 5%;
}

#map {
	width: 675px;
	height: 525px;
	margin-right: 5%;
	left: 0;
	right: 0;
	margin: 0px auto;
	position: absolute;
}

#right-sidebar {
	width: 20%;
	float: right;
	margin-right: 5%;
}

#footer {
	height: 25px;
	width: 100%;
	left: 0;
	margin: 0 auto;
	position: absolute;
	bottom: 0;
	text-align: center;
	font-size: 15px;
	padding-top: 7px;
	color: rgba(0,0,0,0.5)
}

form .btn{
	background-color: #c9d6a5;
}

.btn {
	padding: 5px;
	width: 100%;
}

input#iteminput{
	width: 40%;
}

textarea#fullList{
	resize: vertical;
	width: 100%;
	height: 300px;
}

#defaultCanvas0{
	visibility: visible;
}

#header img {
	margin-left: 50px;
	margin-top: 6px;
	position: absolute;
}

.noselect {
	cursor: default;
}

@media only screen and (max-width: 500px) {
    body {
        
    }
}