* {
	font-family: sans-serif;
}

body {
	background-color: #879c4f;
	background-image: url("bckg-img.jpg");
	background-blend-mode: soft-light;
	background-size: cover;
	background-position: center;
}

div {
	.border: 1px solid red;
	background-color: rgba(256,256,256,0.5);
}

#header {
	width: 100%;
	height: 17%;
	box-shadow: 0px 0px 10px #555;
}

#header h3 {
	color: blue;
	font-size: 50px;
	margin: 20px;
}

#header h4 {
	margin: 15px;
}

.page {
	padding: 5px;
	height: 70%;
	margin-top: 10px;
}

#sidebar {
	width: 35%;
	min-width: 200px;
	float: left;
	margin-left: 5%;
}

#content {
	float: right;
	width: 50%;
	margin-right: 5%;
	min-width: 350px;
	box-shadow: 0px 0px 20px #666;
}

#btn {
	padding: 15px;
	background-color: #D3D3D3;

}